* {
  background-color: lightslategray;
  text-align: center;
}

.stepContainer {
  height: 20px;
  overflow: hidden;
  border: 2px solid black;
  margin: 10px auto;
  width: 450px;
  transition: height 0.5s ease-out;
}

input {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.validation {
  color: #a92539;
  min-height: 20px;
}

.buttons {
  width: 100%;
}

.button {
  user-select: none;
  display: inline-block;
  width: 180px;
  padding: 10px;
  cursor: pointer;
  background-color: black;
  color: white;
}

#clickableImages {
  cursor: crosshair;
}

img {
  height: 100px;
}

a {
  text-decoration: none;
}
